:root {
  --primary: #10b981;
  --primary-dark: #059669;

  --background: #f5f7fb;
  --surface: #ffffff;

  --text-dark: #111827;
  --text-gray: #6b7280;

  --border: #e5e7eb;

  --danger: #ef4444;
  --warning: #f59e0b;
  --success: #22c55e;

  --radius: 18px;
}